@font-face {
    font-family: 'Great Vibes';
    src: url('../fonts/GreatVibes-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family:'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    text-align: justify;
}

main {
    display: flex;
    gap: 7px;
    background-color: rgb(250, 199, 199);
    height: 100vh;
}

/* left side */
.leftSide {
    margin: 1vh 0px 1vh 1vh;
    background-color: rgba(124, 162, 170, 0.425);;
    flex: 0 0 27%;
    height: 98vh;
    border-radius: 25px;
    text-align: center;
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.leftSide::-webkit-scrollbar {
    display: none;
}

.leftSide .illustration {
    border-radius: 25px 25px 0px 0px;
    width: 100%;
}

.leftSide .myPhoto {
    width: 29vh;
    height: 29vh;
    overflow: hidden;
    border-radius: 50%;
    margin: -23vh auto 0px auto;
    min-width: 100px;
    min-height: 100px;
}

.leftSide .myPhoto img {
    width: 29vh;
    height: 29vh;
    min-width: 100px;
    min-height: 100px;
}

.leftSide h1 {
    font-size: 61px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: 'Great Vibes', cursive;
    background: linear-gradient(to bottom, rgba(34, 202, 235, 0.89) 0%, rgb(158, 113, 113) 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

.leftSide h2 {
    margin: 0;
    font-weight: normal;
    font-size: 23px;
}

.leftSide p {
    margin: 7px 23px;
    text-align: justify;
    text-indent: 4vh;
    line-height: 1.5;
}

/* right side */
.rightSide {
    flex: 1;
    background-color: rgba(124, 162, 170, 0.425);
    margin: 1vh 1vh 1vh 0px;
    border-radius: 25px;
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.rightSide::-webkit-scrollbar {
    display: none;
}

.rightSide h2 {
    font-size: 41px;
    font-family: fantasy;
    font-style: italic;
    text-align: center;
    margin: 3vh 0px 7vh 0px;
    font-weight: normal;
}

.rightSide aside {
    display: flex;
    gap: 2vh;
    margin: 3vh;
    flex-wrap: wrap;
}

.rightSide aside .skills {
    width: 29%;
    background-color: white;
    padding: 13px;
    border-radius: 25px;
    box-shadow: 7px 7px rgba(97, 94, 94, 0.548);
    min-width: 230px;
    max-width: 300px;
}

.rightSide aside .skills .imgSkill {
    width: 90px;
    height: 90px;
    overflow: hidden;
    margin: auto;
}

.rightSide aside .skills .imgSkill img {
    width: 90px;
    height: 90px;
}

.rightSide aside .skills h3 {
    margin: auto;
    width: max-content;
}

.rightSide aside .skills p {
    text-indent: 4vh;
    line-height: 1.5;
}

footer {
    margin: 7vh 4vh auto  4vh;
    text-align: center;
    line-height: 1.25;
}

footer .footerTitle {
    font-weight: bold;
    font-size: large;
}

footer .contactMessage {
    opacity: 0.9;
}

.footerCopyright {
    opacity: 0.8;
}

@media (max-width:1000px) {
    main {
        flex-direction: column;
        height: fit-content;
        width: 98vw;
        gap: 1vh;
    }

    .leftSide {
        margin-right: 1vh;
    }

    .leftSide .myPhoto {
        width: 190px;
        height: 190px;
    }

    .leftSide .myPhoto img {
        width: 190px;
        height: 190px;
    }

    .rightSide {
        margin: 1vh;
    }

    .rightSide aside {
        margin: 3vw;
    }
}

@media (max-width: 900px) {
    .rightSide aside {
        flex-wrap: wrap;
    }

    .rightSide aside .skills {
        margin: auto;
    }
}

@media (max-width: 300px) {
    .rightSide aside {
        flex-direction: column;
    }

    .rightSide h2 {
        margin: 3vh 0px 3vh 0px;
        font-size: 29px;
    }

    .rightSide aside .skills {
        width: 76vw;
        min-width: 76vw;
    }

    footer {
        margin: 3vh 4vh auto  4vh;
    }
}