@font-face {
    font-family: 'Great Vibes';
    src: url('../fonts/GreatVibes-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family:'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    text-align: justify;
}

main {
    display: flex;
    gap: 7px;
    background-color: rgb(250, 199, 199);
    height: 100vh;
}

/* left side */
.introduceTextSide {
    margin: 1vh 0px 1vh 1vh;
    background-color: rgba(124, 162, 170, 0.425);;
    flex: 0 0 31%;
    height: 98vh;
    border-radius: 25px;
    text-align: center;
}

.introduceTextSide .illustration {
    border-radius: 25px 25px 0px 0px;
    width: 100%;
}

.introduceTextSide .myPhoto {
    width: 210px;
    height: 210px;
    overflow: hidden;
    border-radius: 50%;
    margin: -160px auto 0px auto;
}

.introduceTextSide .myPhoto img {
    width: 210px;
    height: 210px;
}

.introduceTextSide h1 {
    font-size: 61px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: 'Great Vibes', cursive;
    background: linear-gradient(to bottom, rgba(34, 202, 235, 0.89) 0%, rgb(158, 113, 113) 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

.introduceTextSide h2 {
    margin: 0;
    font-weight: normal;
    font-size: 23px;
}

.introduceTextSide p {
    margin: 7px 23px;
    text-align: justify;
    text-indent: 4vh;
    line-height: 1.5;
}

/* right side */
.rightSide {
    flex: 1;
    background-color: rgba(124, 162, 170, 0.425);
    margin: 1vh 1vh 1vh 0px;
    border-radius: 25px;
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.rightSide::-webkit-scrollbar {
    display: none;
}
